<div class="login-container">

  <h1 class="text-center">Registro Clientes</h1>

  <form class="row g-3" (ngSubmit)="registrarCliente()">
      <div class="col-md-12">
          <label for="nomcli" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nomcli" name="nomcli"
          [(ngModel)]="nuevoCliente.nomcli" placeholder="Ingrese nombre">
      </div>

      <div class="col-md-12">
          <label for="apecli" class="form-label">Apellido</label>
          <input type="text" name="apecli" class="form-control" id="apecli"
           [(ngModel)]="nuevoCliente.apecli" placeholder="Ingrese Apellido">
      </div>

      <div class="col-md-12">
          <label for="username" class="form-label">Correo</label>
          <input type="email" name="username" class="form-control" id="username"
           [(ngModel)]="nuevoCliente.username" placeholder="Ingrese correo">
      </div>

      <div class="col-md-12">
          <label for="clave" class="form-label">Clave</label>
          <input type="password" class="form-control" name="clave" id="clave"
          [(ngModel)]="nuevoCliente.clave" placeholder="Ingrese password">
      </div>

      <div class="col-md-12">
          <label for="dni" class="form-label">DNI</label>
          <input type="text" class="form-control" name="dni" id="dni"
          [(ngModel)]="nuevoCliente.dni" placeholder="Ingrese DNI">
      </div>
      <div *ngIf="error" class="error-message alert alert-danger">{{ error }}</div>
      <div class="col-md-12">
          <button type="submit" class="btn btn-success w-100">Registrar</button>
      </div>
  </form>

</div>

